{% extends "revolving_fund/base.html" %}
{% load state_utils %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url revolving-fund-index %}">Revolving Loan Funds Database</a></li>
  <li class="last">All Funds</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<h1>Revolving Loan Funds Top 10's</h1>

<p>Top 10 analysis lists that pull from live data.</p>

<h3>Top 10 Largest Funds</h3>

<table id="revolving-loan" class="table table-hover funds">
<thead>
  <tr>
    <th>Institution</th>
    <th>Fund Name</th>
    <th>Funds</th>
    <th>Year Established</th>
  </tr>
</thead>

<tbody>
  {% for object in largest %}
  <tr>
    <td><a href="{% url revolving-fund-detail slug=object.slug %}">{{ object.institution.name }}</a></td>
    <td>{{ object.fund_name }}</td>
    <td>{% if object.total_funds %}${% endif %}{{ object.total_funds|default:"Data Not Provided" }}</td>
    <td>{{ object.year|stringformat:"s" }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

<h3>Top 10 States/Provinces With Largest Funds</h3>

<table id="revolving-loan" class="table table-hover funds">
<thead>
  <tr>
    <th>State</th>
    <th>Funds</th>
  </tr>
</thead>

<tbody>
  {% for object in largest_states %}
  <tr>
    <td><a href="{% url revolving-fund-state state=object.institution__state %}">{{ object.institution__state|expand_state_abbrev }}</a></td>
    <td>{{ object.total_funds__sum }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

<h3>Top 10 States/Provinces With Most Funds</h3>

<table id="revolving-loan" class="table table-hover funds">
<thead>
  <tr>
    <th>State</th>
    <th>Fund Count</th>
  </tr>
</thead>

<tbody>
  {% for object in most_states %}
  <tr>
    <td><a href="{% url revolving-fund-state state=object.institution__state %}">{{ object.institution__state|expand_state_abbrev }}</a></td>
    <td>{{ object.id__count }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>


{% endblock body %}

{% block right-side %}
{% include "revolving_fund/right_side_nav.html" %}
{% endblock right-side %}
