{% extends "revolving_fund/base.html" %}
{% load state_utils %}

{% block title %}Revolving Loan Funds Established in {{ year }} | {{ block.super }}{% endblock title %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url revolving-fund-index %}">Campus Sustainability Revolving Loan Funds</a></li>
  <li>Year Established</li>
  <li class="last">{{ year }}</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<h1>Revolving Loan Funds by Year Established</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Year</th>
      <th>Total Funds</th>
      <th>Total Value</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in years_extra %}
    <tr>
      <td><a href="{% url revolving-fund-year year=obj.year %}">{{ obj.year|stringformat:"s" }}</a></td>
      <td>{{ obj.id__count }}</td>
      <td>${{ obj.total_funds__sum }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}

{% block right-side %}
{% include "revolving_fund/right_side_nav.html" %}
{% endblock right-side %}
