{% extends "revolving_fund/base.html" %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url revolving-fund-index %}">Campus Sustainability Revolving Loan Funds</a></li>
  <li class="last">All Funds</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<h1>All Revolving Loan Funds</h1>

<p>AASHE's Revolving Loans Fund database contains information on <strong>{{ total_funds }}</strong> revolving loan funds at <strong>{{ total_institutions }}</strong> institutions containing <strong>${{ total_amount }}</strong>.

<p>The database contains information on <strong>{{ billion_participants }}</strong> institutions participating in the <a href="http://greenbillion.org/about/">Billion Dollar Green Challenge</a>, whose funds total <strong>${{ billion_amount }}</strong>.

{% include "revolving_fund/revolvingloanfund_table.html" %}

{% endblock body %}

{% block right-side %}
{% include "revolving_fund/right_side_nav.html" %}
{% endblock right-side %}

{% block scripts %}
{{ block.super }}
{% include "revolving_fund/datatable.html" %}
{% endblock scripts %}
