{% extends "revolving_fund/base.html" %}
{% load markup %}

{% block title %}{{ object.fund_name }} at {{ object.institution.name }}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url revolving-fund-index %}">Revolving Loan Funds Database</a></li>
  <li class="last">{{ object.fund_name }}</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<div class="fund-detail">
  <h2>{{ object.institution.name }}</h2>
  <h1>{{ object.fund_name }}</h1>

  {% if object.billion_dollar %}
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="http://www.greenbillion.org/">
        <img class="media-object" src="{{ STATIC_URL }}img/logo_bdgc_140.png">
      </a>
      <h4 class="media-heading">Billion Dollar Green Challenge</h4>
      <p>{{ object.institution.name }} is participating in the Billion Dollar Green Challenge. 
    </li>
  </ul>
  <hr/>
  {% endif %}

  {{ object.description|default:"No description available."|markdown }}

  <table class="table">
    <tbody>
      <tr>
        <td><strong>Fund Size</strong></td>
        <td>${{ object.total_funds }}</td>
      </tr>
      <tr>
        <td><strong>Year Established</strong></td>
        <td>{{ object.year|stringformat:"s" }}</td>
      </tr>
      <tr>
        <td><strong>URL</strong></td>
        <td>{% if object.document_url %}<a target="_blank" href="{{ object.document_url }}"><i class="icon-share"></i> Additional Information</a>{% else %}No URL available{% endif %}</td>
      </tr>
    </tbody>
  </table>
</div>

<p><em><a href="{% url revolving-fund-index %}">Return to Revolving Loan Funds Homepage</a></em></p>
{% endblock %}

{% block right-side %}
{% include "revolving_fund/right_side_nav.html" %}
{% endblock right-side %}
