{% extends "revolving_fund/base.html" %}
{% load state_utils %}

{% block title %}Funds in {{ state|upper|expand_state_abbrev }} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url revolving-fund-index %}">Campus Sustainability Revolving Loan Funds</a></li>
  <li>State/Province</li>
  <li class="last">{{ state|upper|expand_state_abbrev }}</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<h1>Revolving Loan Funds in {{ state|upper|expand_state_abbrev }}</h1>
<p>The database contains <strong>{{ total_funds }}</strong> revolving loan funds in <strong>{{ state|upper|expand_state_abbrev }}</strong> with a total value of <strong>${{ total_amount }}</strong>.

<ul class="breadcrumb">
  <li>Browse:</li>
  {% for state in states %}<li><a href="{% url revolving-fund-state state=state %}">{{ state|upper }}</a>{% if not forloop.last %}<span class="divider">|</span>{% endif %}</li>{% endfor %}
</ul>


{% include "revolving_fund/revolvingloanfund_table.html" %}

{% endblock body %}

{% block right-side %}
{% include "revolving_fund/right_side_nav.html" %}
{% endblock right-side %}

{% block scripts %}
{{ block.super }}
{% include "revolving_fund/datatable.html" %}
{% endblock scripts %}
