{% extends "revolving_fund/base.html" %}
{% load markup %}

{% block title %}{{ object.fund_name }} at {{ object.institution.name }}{% endblock %}

{% block head-extra %}
{{ block.super }}
{{ form.media }}
{% endblock head-extra %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url revolving-fund-index %}">Revolving Loan Funds Database</a></li>
  <li class="last">Submit New Fund Information</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<div class="fund-detail">  
<form method="post" action="{% url revolving-fund-create %}">
  <legend>Submit a New Fund</legend>

  <p>Submit information about a new fund to our database by completing the form below.</p>

  <fieldset>
    <label>Institution</label>
    {{ form.institution }}

    <label>{{ form.description.label }}</label>
    {{ form.description }}

    <label>{{ form.year.label }}</label>
    {{ form.year }}
  
    <label>{{ form.total_funds.label }}</label>
    {{ form.total_funds }}

    <label>{{ form.document_url.label }}</label>
    {{ form.document_url }}

    <label>{{ form.billion_dollar.label }}</label>
    {{ form.billion_dollar }}
  </fieldset>

  <p><em>Please note:</em> All changes are reviewed by AASHE staff before being published in the database.</p>
  <button class="btn btn-primary" type="submit">Submit Fund</button>
</form>
</div>

<p><em><a href="{% url revolving-fund-index %}">Return to Revolving Loan Funds Homepage</a></em></p>
{% endblock %}

{% block right-side %}
{% include "revolving_fund/right_side_nav.html" %}
{% endblock right-side %}
