<table id="revolving-loan" class="table table-hover funds">
<thead>
  <tr>
    <th>Institution</th>
    <th>Fund Name</th>
    <th>Funds</th>
    <th>Year Established</th>
  </tr>
</thead>

<tbody>
  {% for object in object_list %}
  <tr>
    <td><a href="{% url revolving-fund-detail slug=object.slug %}">{{ object.institution.name }}</a></td>
    <td>{{ object.fund_name }}</td>
    <td>{% if object.total_funds %}${% endif %}{{ object.total_funds|default:"Data Not Provided" }}</td>
    <td>{{ object.year|stringformat:"s" }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
