{% extends "revolving_fund/base.html" %}
{% load markup %}

{% block title %}Add a Fund{% endblock %}

{% block head-extra %}
{{ block.super }}
{{ form.media }}
{% endblock head-extra %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url revolving-fund-index %}">Campus Sustainability Revolving Loan Funds</a></li>
  <li class="last">Submit New Fund Information</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<div class="fund-detail">  
<form method="post" action="{% url revolving-fund-create %}">
  <legend>Submit a New Fund</legend>

  <p>Submit information about a new fund to our database by completing the form below.</p>

  {% if form.errors or form.non_field_errors %}
  <div class="alert alert-error"><strong>Oops!</strong> Your submission had a problem. Please check the form below to see what needs corrected.</div>
  {% endif %}

  {% csrf_token %}

  <fieldset>
    <div class="control-group {% if form.institution.errors %}error{% endif %}">
      <label class="control-label">{{ form.institution.label }}</label>
      {{ form.institution }}<span class="help-inline"><small>{% for error in form.fund_name.errors %}{{ error }}{% empty %}Required{% endfor %}</small></span>
    </div>

    <div class="control-group {% if form.fund_name.errors %}error{% endif %}">
      <label class="control-label">{{ form.fund_name.label }}</label>
      {{ form.fund_name }}<span class="help-inline"><small>{% for error in form.fund_name.errors %}{{ error }}{% empty %}Required{% endfor %}</small></span>
    </div>

    <div class="control-group {% if form.description.errors %}error{% endif %}">
      <label class="control-label">{{ form.description.label }}</label>
      {{ form.description }}{% for error in form.description.errors %}<span class="help-inline"><small>{{ error }}</small></span>{% endfor %}
    </div>

    <div class="control-group {% if form.year.errors %}error{% endif %}">
      <label class="control-label">{{ form.year.label }}</label>
      {{ form.year }}<span class="help-inline"><small>{% for error in form.year.errors %}{{ error }}{% empty %}Required{% endfor %}</small></span>
    </div>

    <div class="control-group {% if form.total_funds.errors %}error{% endif %}">
      <label class="control-label">{{ form.total_funds.label }}</label>
      <span class="input-prepend"><span class="add-on">$</span>{{ form.total_funds }}</span>
      <span class="help-inline"><small>{% for error in form.total_funds.errors %}{{ error }}{% empty %}Required{% endfor %}</small></span>
      <span class="help-block"><small>{{ form.total_funds.help_text }}</small></span>
    </div>

    <div class="control-group {% if form.document_url.errors %}error{% endif %}">
      <label class="control-label">{{ form.document_url.label }}</label>
      {{ form.document_url }}{% for error in form.document_url.errors %}<span class="help-inline"><small>{{ error }}</small></span>{% endfor %}
    </div>

    <div class="control-group {% if form.funded_projects.errors %}error{% endif %}">
      <label class="control-label">{{ form.funded_projects.label }}</label>
      {{ form.funded_projects }}{% for error in form.funded_projects.errors %}<span class="help-inline"><small>{{ error }}</small></span>{% endfor %}

    <div class="control-group {% if form.estimated_roi.errors %}error{% endif %}">
      <label class="control-label">{{ form.estimated_roi.label }}</label>
      {{ form.estimated_roi }}{% for error in form.estimated_roi.errors %}<span class="help-inline"><small>{{ error }}</small></span>{% endfor %}
    </div>

    <div class="control-group {% if form.billion_dollar.errors %}error{% endif %}">
      <label class="control-label">{{ form.billion_dollar.label }}</label>
      {{ form.billion_dollar }}{% for error in form.billion_dollar.errors %}<span class="help-inline"><small>{{ error }}</small></span>{% endfor %}
    </div>
  </fieldset>

  <p><em>Please note:</em> All changes are reviewed by AASHE staff before being published in the database.</p>
  <button class="btn btn-primary" type="submit">Submit Fund</button>
</form>
</div>

<p><em><a href="{% url revolving-fund-index %}">Return to Revolving Loan Funds Homepage</a></em></p>
{% endblock %}

{% block right-side %}
{% include "revolving_fund/right_side_nav.html" %}
{% endblock right-side %}
