{% if GOOGLE_ANALYTICS_KEY %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_KEY }}']);
  _gaq.push(['_setDomainName', 'aashe.org']);
  _gaq.push(['_setCustomVar', 1, 'Title', '{{ request.session.drupal_user_dict.profile_jobtitle|truncatechars:"122"|default:"Unknown" }}', 1]);
  _gaq.push(['_setCustomVar', 3, 'User Type', '{% if request.user.is_authenticated %}{{ request.session.drupal_user_dict.roles.5|yesno:"Member,Non-member" }}{% else %}Anonymous{% endif %}', 1]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
