{% load tree_menu_tags %}

{% ifequal menu_type "index" %}
<div class="page-resources">
<div id="block-menu_block-7" class="menu-block-7 menu-level-1">
{% for menu_item in menu.root_item.children %}
<ul class="menu">
  <li class="expanded"><a href="{{ menu_item.url }}">{{ menu_item.caption }}</a>
  {% if menu_item.children %}
  <ul class="menu">
  {% for child_menu_item in menu_item.children %}
  <li class="leaf"><a href="{{ child_menu_item.url }}"><span>{{ child_menu_item.caption }}</span></a></li>
  {% endfor %}
  </ul>
  {% endif %}
  </li>
</ul>
{% endfor %}
</div></div>
{% endifequal %}

{% ifequal menu_type "resource-menu" %}
  {% ifequal object.menuitem.level 2 %}
    {% if object.menuitem.children %}
    {% for child_menu_item in object.menuitem.children %}
      <h2>{{ child_menu_item }}</h2>
      {% if child_menu_item.children %}
        <ul class="menu">
        {% for child in child_menu_item.children %}
          {% if not child.children %}
          <li class="leaf"><a href="/{{ child.url }}"><span>{{ child }}</span></a></li>
          {% else %}
            <li class="leaf"><span>{{ child }}</span></li>
            <ul class="menu">
            {% for second_child in child.children %}
              <li class="leaf"><a href="/{{ second_child.url }}"><span>{{ second_child }}</span></a></li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
    {% endif %}
  {% else %}
    {% if object.menuitem.children %}
    <ul class="menu">
    {% for child_menu_item in object.menuitem.children %}
      <li class="leaf"><a href="/{{ child_menu_item.url }}"><span>{{ child_menu_item }}</span></a></li>
    {% endfor %}
    </ul>
    {% endif %}
  {% endifequal %}
{% endifequal %}

{% ifequal menu_type "sidebar" %}
<div class="block block-menu_block " id="block-menu_block-4">
  <h2 class="block-title"><none></none></h2>
  <div class="block-content content"><div class="menu-block-4 menu-name-menu-sitemap parent-mlid-38287 menu-level-1">
      <ul class="menu">
        {% for menu_item in menu.root_item.children %}
          {% if menu_item == object.menuitem %}
            <li class="expanded active-trail">
            <a href="/{{ menu_item.url }}" title="{{ menu_item.caption }}" class="active-trail"><span>{{ menu_item.caption}}</span></a>
              <ul class="menu">
              {% for child_menu_item in object.menuitem.children %}
                <li class="leaf"><a href="/{{ child_menu_item.url }}"><span>{{ child_menu_item }}</span></a></li>
              {% endfor %}
              </ul>
            <li>
          {% elif object.menuitem.parent == menu_item %}
                <li class="expanded active-trail">
                <a href="/{{ object.menuitem.parent.url }}" title="{{ object.menuitem.parent.caption }}" class="active-trail"><span>{{ object.menuitem.parent.caption }}</span></a>
                  <ul class="menu">
                  {% for child_menu_item in object.menuitem.parent.children %}
                    {% if child_menu_item == object.menuitem %}
                    <li class="leaf"><a href="/{{ child_menu_item.url }}" class="active-trail"><span>{{ child_menu_item }}</span></a></li>
                    {% else %}
                    <li class="leaf"><a href="/{{ child_menu_item.url }}"><span>{{ child_menu_item }}</span></a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                <li>
          {% else %}
            <li class="collapsed first">
            <a href="/{{ menu_item.url }}" title="{{ menu_item.caption }}"><span>{{ menu_item.caption}}</span></a>
            </li>
          {% endif %}
        {% endfor %}
    </ul></div>
  </div>
</div>
{% endifequal %}