{% load tree_menu_tags %}
{% load url from future %}
{% load cmstags %}

{% ifequal menu_type "breadcrumb" %}
  {{ object|generate_breadcrumb:request }}
{% endifequal %}

{% ifequal menu_type "content-sidebar" %}
  {{ object|generate_sidebar:request }}
{% endifequal %}

{% ifequal menu_type "index" %}
<div class="page-resources">
<div id="block-menu_block-7" class="menu-block-7 menu-level-1">
{% for menu_item in menu.root_item.children %}
<ul class="menu">
  <li class="expanded"><a href="{{ menu_item.url|prepend_slash }}"><span>{{ menu_item.extension.caption }}</span></a>
  {% if menu_item.has_children %}
  <ul class="menu">
  {% for child_menu_item in menu_item.children %}
    {% if child_menu_item.extension.protected %}
    <li class="leaf"><a href="{{ child_menu_item.url|prepend_slash }}" class="restricted-content"><span>{{ child_menu_item.extension.caption }}</span></a></li>
    {% else %}
    <li class="leaf"><a href="{{ child_menu_item.url|prepend_slash }}"><span>{{ child_menu_item.extension.caption }}</span></a></li>
    {% endif %}
  {% endfor %}
  </ul>
  {% endif %}
  </li>
</ul>
{% endfor %}
</div></div>
{% endifequal %}

{% ifequal menu_type "resource-menu" %}
  {% ifequal object.menuitem.level 2 %}
    {% if object.menuitem.has_children %}
    {% for child_menu_item in object.menuitem.children %}
      {% if child_menu_item.has_children %}
        <h2>{{ child_menu_item }}</h2>
        <ul class="menu">
        {% for child in child_menu_item.children %}
          {% if not child.has_children %}
            {% if child.extension.protected %}
              {% if child.url %}
              <li class="leaf"><a href="{{ child.url|prepend_slash }}" class="restricted-content"><span>{{ child.extension.caption }}</span></a></li>
              {% else %}
              <li class="leaf"><a href="{% url child.named_url %}" class="restricted-content"><span>{{ child.extension.caption }}</span></a></li>
              {% endif %}
            {% else %}
              {% if child.url %}
                <li class="leaf"><a href="{{ child.url|prepend_slash }}"><span>{{ child.extension.caption }}</span></a></li>
              {% else %}
                 <li class="leaf"><a href="{% url child.named_url %}"><span>{{ child.extension.caption }}</span></a></li>
              {% endif %}
            {% endif %}          
          {% else %}
            {% if child.url %}
              <li class="leaf"><a href="{{ child.url|prepend_slash }}"><span>{{ child.extension.caption }}</span></a></li>
            {% else %}
              <li class="leaf"><span>{{ child.extension.caption }}</span></li>
            {% endif %}
            <ul class="menu">
            {% for second_child in child.children %}
              {% if second_child.extension.protected %}
                {% if second_child.url %}
                <li class="leaf"><a href="{{ second_child.url|prepend_slash }}" class="restricted-content"><span>{{ second_child.extension.caption }}</span></a></li>
                {% else %}
                <li class="leaf"><a href="{% url second_child.named_url %}" class="restricted-content"><span>{{ second_child.extension.caption }}</span></a></li>
                {% endif %}
              {% else %}
                {% if second_child.url %}
                <li class="leaf"><a href="{{ second_child.url|prepend_slash }}"><span>{{ second_child.extension.caption }}</span></a></li>
                {% endif %}
                {% if second_child.named_url %}
                <li class="leaf"><a href="{% url second_child.named_url %}"><span>{{ second_child.extension.caption }}</span></a></li>
                {% endif %}
                {% if not second_child.url and not second_child.named_url %}
                <li class="leaf"><span>{{ second_child.extension.caption }}</span></li>
                {% if second_child.has_children %}
                <ul class="menu">
                {% for child in second_child.children %}
                  {% if child.url %}
                  <li class="leaf"><a href="{{ child.url|prepend_slash }}"><span>{{ child.extension.caption }}</span></a></li>
                  {% endif %}
                  {% if second_child.named_url %}
                  <li class="leaf"><a href="{% url child.named_url %}"><span>{{ child.extension.caption }}</span></a></li>
                  {% endif %}
                  {% if not child.url and not child.named_url %}
                  <li class="leaf"><span>{{ child.extension.caption }}</span></li>
                  {% endif %}
                {% endfor %}
                </ul>
                {% endif %}  
                {% endif %}
              {% endif %}
            {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
    {% endif %}
    {% if object.menuitem.has_children %}
    <ul class="menu">
    {% for child_menu_item in object.menuitem.children %}
      {% if not child_menu_item.has_children %}
        {% if child_menu_item.extension.protected %}
          {% if child_menu_item.url %}
          <li class="leaf"><a href="{{ child_menu_item.url|prepend_slash }}" class="restricted-content"><span>{{ child_menu_item.extension.caption }}</span></a></li>
          {% else %}
          <li class="leaf"><a href="{% url child_menu_item.named_url %}" class="restricted-content"><span>{{ child_menu_item.extension.caption }}</span></a></li>
          {% endif %}
        {% else %}
          {% if child_menu_item.url %}
          <li class="leaf"><a href="{{ child_menu_item.url|prepend_slash }}"><span>{{ child_menu_item.extension.caption }}</span></a></li>
          {% else %}
          <li class="leaf"><a href="{% url child_menu_item.named_url %}"><span>{{ child_menu_item.extension.caption }}</span></a></li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
    {% else %}
    <ul class="menu">
    {% for child_menu_item in object.menuitem.children %}
      {% if child_menu_item.extension.protected %}
        {% if child_menu_item.url %}
        <li class="leaf"><a href="{{ child_menu_item.url|prepend_slash }}" class="restricted-content"><span>{{ child_menu_item.extension.caption }}</span></a></li>
        {% else %}
        <li class="leaf"><a href="{% url child_menu_item.named_url %}" class="restricted-content"><span>{{ child_menu_item.extension.caption }}</span></a></li>
        {% endif %}
      {% else %}
        {% if child_menu_item.url %}
        <li class="leaf"><a href="{{ child_menu_item.url|prepend_slash }}"><span>{{ child_menu_item.extension.caption }}</span></a></li>
        {% endif %}
        {% if child_menu_item.named_url %}       
        <li class="leaf"><a href="{% url child_menu_item.named_url %}"><span>{{ child_menu_item.extension.caption }}</span></a></li>
        {% endif %}
        {% if not child_menu_item.url and not child_menu_item.named_url %}       
        <li class="leaf"><span>{{ child_menu_item.extension.caption }}</span></li>
        {% if child_menu_item.has_children %}
        <ul class="menu">
        {% for child in child_menu_item.children %}
          {% if child.url %}
          <li class="leaf"><a href="{{ child.url|prepend_slash }}"><span>{{ child.extension.caption }}</span></a></li>
          {% endif %}
          {% if second_child.named_url %}
          <li class="leaf"><a href="{% url child.named_url %}"><span>{{ child.extension.caption }}</span></a></li>
          {% endif %}
          {% if not child.url and not child.named_url %}
          <li class="leaf"><span>{{ child.extension.caption }}</span></li>
          {% if child.has_children %}
          <ul class="menu">
          {% for child in second_child.children %}
            {% if child.url %}
            <li class="leaf"><a href="{{ child.url|prepend_slash }}"><span>{{ child.extension.caption }}</span></a></li>
            {% endif %}
            {% if second_child.named_url %}
            <li class="leaf"><a href="{% url child.named_url %}"><span>{{ child.extension.caption }}</span></a></li>
            {% endif %}
            {% if not child.url and not child.named_url %}
            <li class="leaf"><span>{{ child.extension.caption }}</span></li>
            {% endif %}
          {% endfor %}
          </ul>
          {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
  {% endifequal %}
{% endifequal %}

{% ifequal menu_type "sidebar" %}
<div class="block block-menu_block " id="block-menu_block-4">
  <h2 class="block-title"><none></none></h2>
  <div class="block-content content"><div class="menu-block-4 menu-name-menu-sitemap parent-mlid-38287 menu-level-1">
      <ul class="menu">
        {% for menu_item in menu.root_item.children %}
          {% if menu_item == object.menuitem %}
            <li class="expanded active-trail">
            <a {% if menu_item.url %}href="{{ menu_item.url|prepend_slash }}"{% else %}href="{% url menu_item.named_url %}"{% endif %} title="{{ menu_item.extension.caption }}" class="{% if menu_item.extension.protected %}restricted-content{% endif %} active-trail"><span>{{ menu_item.extension.caption }}</span></a>
              <ul class="menu">
              {% for child_menu_item in object.menuitem.children %}
                <li class="leaf"><a {% if child_menu_item.url %}href="{{ child_menu_item.url|prepend_slash }}"{% else %}href="{% url child_menu_item.named_url %}"{% endif %} class="{% if child_menu_item.extension.protected %}restricted-content{% endif %}"><span>{{ child_menu_item.extension.caption }}</span></a></li>
              {% endfor %}
              </ul>
            <li>
          {% endif %}
          {% if menu_item == object.menuitem.parent %}
                <li class="expanded active-trail">
                <a {% if object.menuitem.parent.url %}href="{{ object.menuitem.parent.url|prepend_slash }}"{% else %}href="{% url object.menuitem.parent.named_url %}"{% endif %} title="{{ object.menuitem.parent.extension.caption }}" class="{% if object.menuitem.parent.extension.protected %}restricted-content{% endif %} active-trail"><span>{{ object.menuitem.parent.extension.caption }}</span></a>
                  <ul class="menu">
                  {% for child_menu_item in object.menuitem.parent.children %}
                    {% if child_menu_item == object.menuitem %}
                    <li class="leaf"><a {% if child_menu_item.url %}href="{{ child_menu_item.url|prepend_slash }}"{% else %}href="{% url child_menu_item.named_url %}"{% endif %} class="{% if child_menu_item.extension.protected %}restricted-content{% endif %} active-trail"><span>{{ child_menu_item.extension.caption }}</span></a></li>
                    {% else %}
                    <li class="leaf"><a {% if child_menu_item.url %}href="{{ child_menu_item.url|prepend_slash }}"{% else %}href="{% url child_menu_item.named_url %}"{% endif %} class="{% if menu_item.extension.protected %}restricted-content{% endif %}"><span>{{ child_menu_item.extension.caption }}</span></a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                <li>
          {% endif %}
          {% if menu_item != object.menuitem and menu_item != object.menuitem.parent %}
            <li class="collapsed first">
            <a {% if menu_item.url %}href="{{ menu_item.url|prepend_slash }}"{% else %}href="{% url menu_item.named_url %}"{% endif %} title="{{ menu_item.extension.caption }}" class="{% if menu_item.extension.protected %}restricted-content{% endif %}"><span>{{ menu_item.extension.caption}}</span></a>
            </li>
          {% endif %}
        {% endfor %}
    </ul></div>
  </div>
</div>
{% endifequal %}
