{% extends "greenfunds/base_funds.html" %}
{% load markup %}
{% load humanize %}
{% load greenfunds-extras %}

{% block title %}{{ object.fund_name }} at {{ object.institution.name }} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url green-fund-index %}">Campus Sustainability Green Funds</a></li>
  <li class="last">{{ object.fund_name }}</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<div class="fund-detail">
  <h1>{{ object.fund_name }}</h1>
  <h2>{{ model_name }} - {{ object.institution.name }}</h2>
  <br />


  {% if object|model_name_filter == "StudentFeeFund" %}
    <a href="{% url fee-fund-edit slug=object.slug %}"><button class="btn btn-primary btn-mini btn-fund-update" type="button">Update this Information</button></a>
    {% if request.user.is_staff %}
    <a href="{% url admin:greenfunds_studentfeefund_change object.pk %}"><button class="btn btn-mini btn-inverse btn-fund-update">Edit in Admin</button></a>
    {% endif %}
  {% elif object|model_name_filter == "DonationFund" %}
    <a href="{% url donation-fund-edit slug=object.slug %}"><button class="btn btn-primary btn-mini btn-fund-update" type="button">Update this Information</button></a>
    {% if request.user.is_staff %}
    <a href="{% url admin:greenfunds_donationfund_change object.pk %}"><button class="btn btn-mini btn-inverse btn-fund-update">Edit in Admin</button></a>
    {% endif %}
  {% elif object|model_name_filter == "DepartmentFund" %}
    <a href="{% url department-fund-edit slug=object.slug %}"><button class="btn btn-primary btn-mini btn-fund-update" type="button">Update this Information</button></a>
    {% if request.user.is_staff %}
    <a href="{% url admin:greenfunds_departmentfund_change object.pk %}"><button class="btn btn-mini btn-inverse btn-fund-update">Edit in Admin</button></a>
    {% endif %}
  {% elif object|model_name_filter == "HybridFund" %}
    <a href="{% url hybrid-fund-edit slug=object.slug %}"><button class="btn btn-primary btn-mini btn-fund-update" type="button">Update this Information</button></a>
    {% if request.user.is_staff %}
    <a href="{% url admin:greenfunds_hybridfund_change object.pk %}"><button class="btn btn-mini btn-inverse btn-fund-update">Edit in Admin</button></a>
    {% endif %}
  {% endif %}

  <table class="table">
    <thead>
      <tr class="info"><th colspan="2"><strong>{{ object.institution.name }}</strong></th></tr>
    </thead>
    <tbody>
      <tr>

    {% if object.institution.city and object.institution.state %}
      <tr><td>Fund Location</td><td>{{ object.institution.city }}, {{ object.institution.state }}</td></tr>
    {% endif %}

    {% if object.institution.control %}
      <tr><td>Institution Control</td><td>{{ object.institution.control }}</td></tr>
    {% endif %}

    {% if object.sunset_date %}
      <tr><td>Sunset Date</td><td>{{ object.sunset_date }}</td></tr>
    {% endif %}

    {% if object.term %}
      <tr><td>Fund Term</td><td>{{ object.get_term_display }}</td></tr>
    {% endif %}

    {% if object.rate_per_term %}
      <tr><td>Fund Rate Per Term</td><td>${{ object.rate_per_term }}</td></tr>
    {% endif %}

    {% if object.student_type %}
      <tr><td>Fund Student Type</td><td>{{ object.student_type }}</td></tr>
    {% endif %}

    {% if object.fund_type %}
      <tr><td>Fund Donation Type</td><td>{{ object.get_fund_type_display }}</td></tr>
    {% endif %}

    {% if object.donation_source_description %}
      <tr><td>Donation Source Description</td><td>{{ object.donation_source_description }}</td></tr>
    {% endif %}

    {% if object.department_name %}
      <tr><td>Department Name</td><td>{{ object.department_name }}</td></tr>
    {% endif %}

    {% if object.department_type %}
      <tr><td>Department Type</td><td>{{ object.department_type }}</td></tr>
    {% endif %}

    {% if object.funding_source %}
      <tr><td>Funding Source</td><td>{{ object.funding_source }}</td></tr>
    {% endif %}

    {% if object.fund_size %}
      <tr><td>Fund Size</td><td>{{ object.fund_size|intcomma }}</td></tr>
    {% endif %}

    {% if object.year %}
      <tr><td>Year Established</td><td>{{ object.year|stringformat:"s" }}</td></tr>
    {% endif %}

    {% if object.homepage %}
      <tr><td>Fund Homepage</td><td><a href="{{ object.homepage }}">Link</a></td></tr>
    {% endif %}

    {% if object.fund_recipients %}
      <tr><td>Fund Recipients</td><td>
      {% for recipient in object.fund_recipients.all %}
        {{ recipient }}
      {% endfor %}
      </td></tr>
    {% endif %}

    {% if object.project_contact1_details %}
    <tr>
      <td>Fund Contact</td><td>{{ object.project_contact1_details }}</td>
    </tr>
    {% endif %}


    </tbody>
    </table>

</div>

{% if object.fund_description %}
<h2>Fund Description</h2>
<p>{{ object.fund_description }}</p>
{% endif %}

<h2>Additional Links</h2>
<p>

<a href='{% url green-fund-index %}'>Return to Green Funds Index</a><br /></p>

{% endblock %}

{% block right-side %}
{% include "greenfunds/right_side_nav.html" %}
{% endblock right-side %}