{% extends "greenfunds/base_funds.html" %}

{% block title %}
Update a Green Fund
{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url green-fund-index %}">Campus Sustainability Green Funds</a></li>
  <li class="last">Edit {{ object.fund_name }}</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<h1 class="page-title">Edit {{ object.fund_name }}</h1>

<p><em><a href="{% url green-fund-index %}">Return to Green Funds Homepage</a></em></p>
<p>Add or edit information about {{ object.fund_name }} using the form below. All submissions are reviewed
before being added to the AASHE resource center.</p>

<p>* denotes required fields.</p>

{% if form.errors %}
<p class="errors">Your submission had a problem, please correct the fields indicated below.</p>
{% endif %}

<form class="fund-create" action="{% url green-fund-add %}" method="post">
{% csrf_token %}

{{ model_name }}

<h2>Basic Information</h2>
<fieldset>
  <table class="fund-standard">

  {% if model_name = "StudentFeeFund" %}

  {% include "greenfunds/greenfund_create_studentfeefund.html" %}

  {% elif model_name = "DonationFund" %}

  {% include "greenfunds/greenfund_create_donationfund.html" %}

  {% elif model_name = "DepartmentFund" %}

  {% include "greenfunds/greenfund_create_departmentfund.html" %}

  {% elif model_name = "HybridFund" %}

  {% include "greenfunds/greenfund_create_hybridfund.html" %}

  {% endif %}

  {% include "greenfunds/greenfund_create_greenfund.html" %}

  </table>
</fieldset>

  <p><em>Please note:</em> All changes are reviewed by AASHE staff before being published in the database.</p>
  <button class="btn btn-primary" type="submit">Submit Changes</button>
</form>

<p><em><a href="{% url green-fund-index %}">Return to Green Funds Homepage</a></em></p>
{% endblock %}

{% block right-side %}
{% include "greenfunds/right_side_nav.html" %}
{% endblock right-side %}
