{% extends "greenfunds/base_funds.html" %}

{% block title %}
Add a Green Fund
{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url green-fund-index %}">Campus Sustainability Student Green Funds</a></li>
  <li class="last">Add a Green Fund</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<h1 class="page-title">Add a Green Fund</h1>

<p><em><a href="{% url green-fund-index %}">Return to Student Green Funds Homepage</a></em></p>

<p>Add information about a new green fund using the form below. All submissions are reviewed
before being added to the AASHE resource center.</p>

<p>* denotes required fields.</p>

{% if fund_form.errors %}
<p class="errors">Your submission had a problem, please correct the fields indicated below.</p>
{% endif %}

<form class="fund-create" action="." method="post">
{% csrf_token %}

<h2>Basic Information</h2>
<fieldset>
  <table class="fund-standard">
    {% for item in form %}
    <tr><th>{{ item.label_tag }}
    {% if item.field.required %}<span class="required-field">*</span>{% endif %}</th>
    <td>{{ item }}{{ item.errors}}</td>
    </tr>
    {% endfor %}

    {{ fund_term.management_form }}

    <tr>
      <th>{{ fund_term.form.term.label_tag }} {% if fund_term.form.term.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ fund_term.form.term }} <span class="help-text">{{ fund_term.form.term.help_text }}</span> {{ fund_term.form.term.errors }}</td>
    </tr>
    <tr>
      <th>{{ fund_term.form.rate_per_term.label_tag }} {% if fund_term.form.rate_per_term.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ fund_term.form.rate_per_term }} <span class="help-text">{{ fund_term.form.rate_per_term.help_text }}</span> {{ fund_term.form.rate_per_term.errors }}</td>
    </tr>
    <tr>
      <th>{{ fund_term.form.student_type.label_tag }} {% if fund_term.form.student_type.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ fund_term.form.student_type }} <span class="help-text">{{ fund_term.form.student_type.help_text }}</span> {{ fund_term.form.student_type.errors }}</td>
    </tr>

{% include "greenfunds/greenfund_create_greenfund.html" %}

  </table>
</fieldset>


  <p><em>Please note:</em> All changes are reviewed by AASHE staff before being published in the database.</p>
  <button class="btn btn-primary" type="submit">Submit Fund</button>
</form>

<p><em><a href="{% url green-fund-index %}">Return to Student Green Funds Homepage</a></em></p>
{% endblock %}

{% block right-side %}
{% include "greenfunds/right_side_nav.html" %}
{% endblock right-side %}</table>