{% extends "greenfunds/base_funds.html" %}

{% block title %}
Add a Green Fund
{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url green-fund-index %}">Campus Sustainability Student Green Funds</a></li>
  <li class="last">Add a Green Fund</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<h1 class="page-title">Add a Green Fund</h1>

<p><em><a href="{% url green-fund-index %}">Return to Student Green Funds Homepage</a></em></p>

<p>Add information about a new green fund using the form below. All submissions are reviewed
before being added to the AASHE resource center.</p>

<p>* denotes required fields.</p>

{% if form.errors %}
<p class="errors">Your submission had a problem, please correct the fields indicated below.</p>
{% endif %}

<form class="fund-create" action="{% url green-fund-add %}" method="post">
{% csrf_token %}

<h2>Basic Information</h2>

<fieldset>
  <table class="fund-standard">
    <tr>
      <th>{{ form.fund_name.label_tag }} {% if form.fund_name.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.fund_name }} {{ form.fund_name.errors }}</td>
    </tr>
    <tr>
      <th>{{ form.institution.label_tag }} {% if form.institution.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.institution }} <span class="help-text">{{ form.institution.help_text }}</span> {{ form.institution.errors }}</td>
    </tr>
    <tr>
      <th>{{ form.year.label_tag }} {% if form.year.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.year }} <span class="help-text">{{ form.year.help_text }}</span> {{ form.year.errors }}</td>
    </tr>
    <tr>
      <th>{{ form.rate_per_term.label_tag }} {% if form.rate_per_term.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.rate_per_term }} <span class="help-text">{{ form.rate_per_term.help_text }}</span> {{ form.rate_per_term.errors }}</td>
    </tr>
    <tr>
      <th>{{ form.rate_per_summer_term.label_tag }} {% if form.rate_per_summer_term.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.rate_per_summer_term }} <span class="help-text">{{ form.rate_per_summer_term.help_text }}</span> {{ form.rate_per_summer_term.errors }}</td>
    </tr>
    <tr>
      <th>{{ form.mandatory.label_tag }} {% if form.mandatory.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.mandatory }} <span class="help-text">{{ form.mandatory.help_text }}</span> {{ form.mandatory.errors }}</td>
    </tr>
    <tr>
      <th>{{ form.term.label_tag }} {% if form.term.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.term }} <span class="help-text">{{ form.term.help_text }}</span> {{ form.term.errors }}</td>
    </tr>
    <tr>
      <th>{{ form.homepage.label_tag }} {% if form.homepage.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.homepage }} <span class="help-text">{{ form.homepage.help_text }}</span> {{ form.homepage.errors }}</td>
    </tr>
  </table>
</fieldset>

<h2>Public Contact Information (optional)</h2>
<p>Please provide <em>optional</em> public program contact information. All or part of this information <strong>may</strong> be published with the fund's record. Please obtain necessary permission from anyone you list other than yourself.</p>
<table class="ap-standard">
  <fieldset>
    <tr>
      <th>{{ form.project_contact1_firstname.label_tag }} {% if form.project_contact1_first_name.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.project_contact1_firstname }} <span class="help-text">{{ form.project_contact1_firstname.help_text }}</span> <br/>{{ form.project_contact1_firstname.errors }}</td>
    </tr>

    <tr>
      <th>{{ form.project_contact1_middle.label_tag }} {% if form.project_contact1_middle.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.project_contact1_middle }} <span class="help-text">{{ form.project_contact1_middle.help_text }}</span> <br/>{{ form.project_contact1_middle.errors }}</td>
    </tr>

    <tr>
      <th>{{ form.project_contact1_lastname.label_tag }} {% if form.project_contact1_lastname.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.project_contact1_lastname }} <span class="help-text">{{ form.project_contact1_lastname.help_text }}</span> <br/>{{ form.project_contact1_lastname.errors }}</td>
    </tr>

    <tr>
      <th>{{ form.project_contact1_title.label_tag }} {% if form.project_contact1_title.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.project_contact1_title }} <span class="help-text">{{ form.project_contact1_title.help_text }}</span> <br/>{{ form.project_contact1_title.errors }}</td>
    </tr>

    <tr>
      <th>{{ form.project_contact1_phone.label_tag }} {% if form.project_contact1_phone.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.project_contact1_phone }} <span class="help-text">{{ form.project_contact1_phone.help_text }}</span> <br/>{{ form.project_contact1_phone.errors }}</td>
    </tr>

    <tr>
      <th>{{ form.project_contact1_confirm.label_tag }} {% if form.project_contact1_confirm.field.required %}<span class="required-field">*</span>{% endif %}</th>
      <td>{{ form.project_contact1_confirm }} <span class="help-text">{{ form.project_contact1_confirm.help_text }}</span> <br/>{{ form.project_contact1_confirm.errors }}</td>
    </tr>

</table>
</fieldset>

  <p><em>Please note:</em> All changes are reviewed by AASHE staff before being published in the database.</p>
  <button class="btn btn-primary" type="submit">Submit Fund</button>
</form>

<p><em><a href="{% url green-fund-index %}">Return to Student Green Funds Homepage</a></em></p>
{% endblock %}

{% block right-side %}
{% include "greenfunds/right_side_nav.html" %}
{% endblock right-side %}
