{% extends "greenfunds/base_funds.html" %}

{% block title %}
Add a Green Fund
{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url green-fund-index %}">Campus Sustainability Green Funds</a></li>
  <li class="last">Add a Green Fund</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<h1 class="page-title">Add a Green Fund</h1>

<p><em><a href="{% url green-fund-index %}">Return to Green Funds Homepage</a></em></p>

<p>Funds in this database are organized into four different types based on the primary source of funding. To add a new fund, please select from one of the four fund types below.</p>

<ol>
  <li><a href="{% url green-fund-add-studentfee %}">Add Student Fee Fund</a> (select if major funding comes from fees paid for by students)</li>
  <li><a href="{% url green-fund-add-donation %}">Add Donation Driven Fund</a> (examples include, alumni, corporate and foundation donations)</li>
  <li><a href="{% url green-fund-add-department %}">Add Department Driven Fund</a> (this includes academic and administrative budgeted green funds)</li>
  <li><a href="{% url green-fund-add-hybrid %}">Add Hybrid Fund</a> (select if the fund is a combination of fund types)</li>
</ol>

<p><em>If you would like to add a green revolving fund, please add it to our other database <a href="{% url revolving-fund-index %}">here.</a></em></p>
{% endblock %}

