{% load greenfunds-extras %}

<table id="green-fund" class="table table-hover funds">
<thead>
  <tr>
    <th>Institution</th>
    <th>Fund Name</th>
    <th>Year Established</th>
  </tr>
</thead>

<tbody>
  {% for object in object_list %}
  <tr>
    {% if object|model_name_filter == "StudentFeeFund" %}
      <td><a href="{% url fee-fund-detail slug=object.slug %}">{{ object.institution.name }}</a></td>
    {% elif object|model_name_filter == "DonationFund" %}
      <td><a href="{% url donation-fund-detail slug=object.slug %}">{{ object.institution.name }}</a></td>
    {% elif object|model_name_filter == "DepartmentFund" %}
      <td><a href="{% url department-fund-detail slug=object.slug %}">{{ object.institution.name }}</a></td>
    {% elif object|model_name_filter == "HybridFund" %}
      <td><a href="{% url hybrid-fund-detail slug=object.slug %}">{{ object.institution.name }}</a></td>
    {% endif %}
    <td>{{ object.fund_name }}</td>
    <td>{{ object.year|stringformat:"s" }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
