{% extends "greenfunds/base_funds.html" %}

{% block body %}
<h1>Campus Sustainability Green Funds Database</h1>

<p>AASHE's Campus Sustainability Green Fund database contains information on <strong>{{ total_funds }}</strong> green funds at <strong>{{ total_campuses }}</strong> institutions.

<div class="well">
  <h3>Browse</h3>
  <div class="row">
    <div class="span3">
      <ul class="browse-menu">
        <li><a href="{% url green-fund-list %}">All Funds</a></li>
        <li><a href="{% url green-fund-region region='northeast' %}">By U.S. Region</a></li>
        <li><a href="{% url green-fund-year-index %}">By Year Established</a></li>
        <li><a href="{% url green-fund-type type='all' %}">By Fund Type</a></li>
      </ul>
    </div><!-- end .span3 -->
    <div class="span3">
      <ul class="browse-menu">
        <li><a href="{% url green-fund-member %}">AASHE Members</a></li>
        <li><a href="{% url green-fund-map %}">Green Funds Map</a></li>
        <li><a href="{% url green-fund-carnegie carnegie='master' %}">By Carnegie Classification</a></li>
      </ul>
    </div><!-- end .span3 -->
  </div><!-- end .row -->

  <h3>Search</h3>
  <form class="home-search search-form" method="GET" action="{% url green-fund-search %}">
    <fieldset>
      {% csrf_token %}
      <input class="input-medium search-query" type="text" name="q" id="id_q" placeholder="Search all funds..." />
      <button type="submit" class="btn">Search</button>
    </fieldset>
  </form>
</div>

<div id="about-revolving-loans">
  <h3>About Campus Sustainability Green Funds</h3>
  <p>
    A campus green fund, also called a campus sustainability fund, is a financial mechanism dedicated to the funding of projects such as renewable energy installations, energy retrofits, educational outreach and the hiring of sustainability personnel occurring on campus and for the benefit of an institution’s sustainability efforts. Student fees, alumni donations, administrative budgets, and grants are the main sources of funding for green funds.
  </p>
</div>
{% endblock body %}

{% block right-side %}
<div class="right-nav-menu">
  <h3>About the Database</h3>
  <p>
    AASHE's <em>Campus Green Funds Database</em> indexes a variety of green funds that are used to pay for campus sustainability projects. Special thanks to Mieko Ozeki from the University of Vermont Sustainability Office for sharing her resources and expertise in the development of this database. For information on Campus Sustainability Revolving Funds visit that database <a href="http://www.aashe.org/resources/campus-sustainability-revolving-loan-funds/">here</a>.
  </p>

  <h3>Help Improve This Resource</h3>
  <p>Don't see a campus green fund from your campus? Add it! Anyone can submit new funds or update information in the database.</p>
  <p><a href="{% url green-fund-add %}"><button class="btn btn-primary btn-medium" type="button">Add a Fund</button></a> {% if request.user.is_staff %}<a href=""><button class="btn btn-inverse btn-medium" type="button">Admin</button></a>{% endif %}</p>
</div>
{% endblock right-side %}
