{% extends "greenfunds/base_funds.html" %}
{% load state_utils %}

{% block title %}Student Green Funds in the {{ region|title }} Region | {{ block.super }}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb"><li class="first"><a href="/">Home</a></li>
  <li><a href="{% url resource-center-index %}">Resource Center</a></li>
  <li><a href="{% url green-fund-index %}">Campus Sustainability Student Green Funds</a></li>
  <li>U.S. Regions</li>
  <li class="last">{{ region|title }}</li>
</ul>
{% endblock breadcrumb %}

{% block body %}
<h1>Student Green Funds in the {{ region|title }}</h1>
<p>The database contains <strong>{{ total_funds }}</strong> student green funds in the <strong>{{ region|title }}</strong> with a total value of <strong>${{ total_amount }}</strong>. U.S. regions determined per <a href="http://en.wikipedia.org/wiki/List_of_regions_of_the_United_States#Census_Bureau-designated_areas" target="_blank"><i class="icon-share"></i>U.S. Census Bureau-designated areas.</a></p>

<ul class="breadcrumb">
  <li>Browse:</li>
  {% for key, val in regions %}<li><a href="{% url green-fund-region region=key %}">{{ val.title }}</a> {% if not forloop.last %}<span class="divider">|</span>{% endif %}</li>{% endfor %}
</ul>


{% include "greenfunds/studentgreenfund_table.html" %}

{% endblock body %}

{% block right-side %}
{% include "greenfunds/right_side_nav.html" %}
{% endblock right-side %}

{% block scripts %}
{{ block.super }}
{% include "greenfunds/datatable.html" %}
{% endblock scripts %}
