{% extends "resourceitem_list.html" %}

{% block title %}
  Campus Bicycle Plans
{% endblock title %}

{% block body %}

  <div id="opening_text">

    The following resource is a list of campus bicycle plans which
    exist independently from campus master plans. In addition,
    the <a href="http://www.universitybikeprograms.org/">University
    Bike Programs</a> group may also be of interest for those working
    on bicycling programs on campus.

  </div>

  <p>
    <div id="resource_list" class="content clear-block">
      <p>
        <table>
          <tbody>
            {% include "table_rows.html" with resources=object_list %}
          </tbody>
        </table>
      </p>
    </div>
  </p>

{% endblock body %}
