{% extends "resourceitem_list.html" %}

{% block title %}
  Campus Bicycle Plans
{% endblock title %}

{% block body %}

  <p>

    The following resource is a list of campus bicycle plans which
    exist independently from campus master plans. In addition,
    the <a href="http://www.universitybikeprograms.org/">University
    Bike Programs</a> group and this <a href="https://maps.google.com/maps/ms?ie=UTF8&hl=en&om=1&msa=0&msid=104227318304000014160.00043d80f9456b3416ced&ll=43.580391,-42.890625&spn=143.80149,154.6875&z=1&source=embed">bike-sharing world map</a> may also be of interest for those working
    on bicycling programs on campus.

  </p>

  <p>
    <div id="resource_list" class="content clear-block">
      <p>
        <table>
          <tbody>
            {% include "table_rows.html" with resources=object_list %}
          </tbody>
        </table>
      </p>
    </div>
  </p>

{% endblock body %}
