{% extends "resourceitem_list.html" %}

{% block title %}
  Biodiesel in Campus Fleets
{% endblock title %}

{% block body %}

  <div id="opening_text">
    <p>

      Biodiesel is a non-petroleum-based diesel fuel made from
      vegetable oil.  It can be combined with petroleum to make a
      blend.  For example, a designation of B20 means the fuel is
      comprised of 20% biodiesel and 80% regular diesel. B20 is common
      in campus fleets as it generally does not require engine
      modification.  Waste vegetable oil (WVO) is used oil, often
      donated from campus dining operations, which can be converted to
      biodiesel or used straight in an adapted diesel vehicle.  For
      more information about campus biodiesel projects visit the fleet
      section of our <a href="/resources/transportation_publications.php#fleet">
      Transportation Publications resource</a>.

    </p>
    <p>

      Biodiesel programs are categorized as to whether they produce
      biodiesel on campus or purchase it (programs that do both are
      listed in both categories).

    </p>
  </div>

  <div id="resource_list">
    <p>
      {% regroup object_list by production as sorted_by_prod_list %}

      {% for prod_type in sorted_by_prod_list %}
        <p>
          {% for key, value in production_types.items %}
            {% if key == prod_type.grouper %}
              <h2>{{ value }}</h2>
            {% endif %}
          {% endfor %}
          {% regroup prod_type.list by organization.country as country_list %}
          {% for country in country_list %}
            <h3>{{ country.grouper }}</h3>
            <table>
              <tbody>
                {% regroup country.list by organization.name as org_list %}
                {% for org in org_list %}
                  <tr>
                    <td>{{ org.grouper }}</td>
                    {% for fleet in org.list %}
                      {% if forloop.last %}
                        {% comment %}
                          Resources not connected to an organization
                          are grouped together; doesn't make sense
                          to show the production_type for the last one in
                          that group.
                        {% endcomment %}
                        {% if fleet.organization %}
                          <td>
                            {{ fleet.type }}
                          </td>
                        {% endif %}
                        {% include "links_table_cell.html" with resources=org.list %}
                      {% endif %}
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endfor %}
        </p>
      {% endfor %}
    </p>
  </div>

{% endblock body %}
