{% extends "resourceitem_list.html" %}

{% block title %}
  {{ title|title }}
{% endblock title %}  

{% block body %}

  {% if image_url %}
    <span class="image-right">
      <img src="{{ image_url }}" alt="{{ image_alt }}">
      <em>{{ image_caption }} </em>
    </span>
  {% endif %}
  
  <div id="opening_text">

    This resource lists "green" athletic buildings at higher education
    institutions. In addition to new construction, it includes
    building renovations as well as buildings being operated or
    maintained sustainably. Buildings that received a LEED (Leadership
    in Energy and Environmental Design) certification are listed
    first, grouped by certification level (Platinum, Gold, Silver,
    Certified). Buildings certified by systems other than LEED are
    listed next, followed by green buildings that are not certified.

    LEED was developed by the
    <a href="http://www.usgbc.org/DisplayPage.aspx?CategoryID=19">U.S.
    Green Building Council</a> (USGBC). Other green building rating systems
    include the <a href="http://www.greenglobe.com/">Green Globe
    Certification</a> and <a href="http://www.breeam.org/index.jsp">
    BREAMM</a>.

  </div>

  {% if image_caption %}
    <span class="image-right">

    </span>
  {% endif %}


  <div id="resource_list">

    <p>
      {% regroup object_list by certification as list_by_certification %}

      <h2>Leed Certified Green Buildings</h2>

        {% for cert_type in cert_order %}
          {% for certification in list_by_certification %}
            {% if cert_type == certification.grouper %}
              {% comment %}
                special handling of 'not certified' type:
              {% endcomment %}
              <h3>
                {% if cert_type != "not certified" %} 
                  {{ certification.grouper }}
                {% else %}
                  Uncertified Green Buildings
                {% endif %}
              </h3>              
              {% for resource in certification.list %}
                <p>                
                  <strong>
                    {% if resource.organization.name %}
                      {{ resource.organization.name }}
                    {% else %}
                      </strong>[{{ resource.notes }}]<strong>
                    {% endif %}                      
                  </strong>
                  <br/>
                  <strong>{{ resource.facility_name }}</strong> <br/>
                  <em>Completed:</em> {{ resource.year }} <br/>
                  <em>SqFt:</em> {{ resource.sqft }} <br/>
                  <em>Cost:</em> {{ resource.cost }} <br/>
                  <em>Certification:</em>
                  {{ resource.certification }} <br/>
                  <em>Key Features:</em>
                  {{ resource.key_features }} <br/>
                  <em>More information:</em> 
                  <a href="{{ resource.url }}">{{ resource.title }}</a>
                </p>
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endfor %}

      </p>
    </p>
  </div>

{% endblock body %}

