{% extends "resourceitem_list.html" %}

{% block title %}
  Sustainable Dining Initiatives on Campus
{% endblock title %}

{% block body %}

  <div id="opening_text">

    This resource provides links to information about sustainable
    dining initiatives at individual institutions. Links are arranged
    according to the food service provider used by the institution. US
    based institutions may find the
    <a href="http://realfoodchallenge.org/">Real Food Challenge</a>
    to be of additional interest. For Canadian campuses, please also
    visit the <a href="http://www.syc-cjs.org/campus-food-systems-project">
    Campus Food Systems Project</a> organized by the Sierra Youth Coalition.

  </div>

  <div id="resource_list">

    <p>
      {% regroup object_list by ownership as owner_list %}

      {% comment %}
        Put self-operated initiatives first.
      {% endcomment %}
      {% for owner in owner_list %}
        <p>
          {% if owner.grouper == 'SO' %}
            {% for key, value in owners.items %}
              {% if key == owner.grouper %}
                <h2>{{ value }}</h2>
              {% endif %}
            {% endfor %}
            <table>
              <tbody>
                <tr>
                  <th>Institution</th>
                  <th>Inititative<th>
                </tr>
               {% include "table_rows.html" with resources=owner.list %}
              </tbody>
            </table>
          {% endif %}
        {% endfor %}

      {% comment %}
        Now all the other (non self-operated) initiatives:
      {% endcomment %}
      {% for owner in owner_list %}
        <p>
          {% if owner.grouper != 'SO' %}
            {% for key, value in owners.items %}
              {% if key == owner.grouper %}
                <h2>{{ value }}</h2>
              {% endif %}
            {% endfor %}
            <table>
              <tbody>
                <tr>
                  <th>Institution</th>
                  <th>Inititative<th>
                </tr>
               {% include "table_rows.html" with resources=owner.list %}
              </tbody>
            </table>
          {% endif %}
        {% endfor %}
      </p>
    </p>
  </div>

{% endblock body %}
