{% extends "resourceitem_list.html" %}

{% block title %}
  Campus Installations of Stationary Fuel Cells
{% endblock title %}

{% block body %}

  <div id="opening_text">
  </div>

  <div id="resource_list">
    <p>
     <table>
       <tbody>
         <tr>
           <th>Institution</th>
           <th>System Size (kW)</th>
           <th>Source</th>
         </tr>
         {% regroup object_list by organization.name as org_list %}
         {% for org in org_list %}
           <tr>
             <td>{{ org.grouper }}</td>
             {% if org.grouper %}
               {% for resource in org.list %}
                 {% if forloop.last %}
                   <td align="center">
                     {% firstof resource.size|floatformat 'unknown' %}</td>
                 {% endif %}
               {% endfor %}
             {% else %}
               <td/>
             {% endif %}
             {% include "links_table_cell.html" with resources=org.list %}
           </tr>
           {% endfor %}
       </tbody>
     </table>
    </p>
  </div>

{% endblock body %}
