{% extends "resourceitem_list.html" %}

{% block title %}
  Campus Global Warming Commitments
{% endblock title %}

{% block body %}

  <p>
    <em>
      "Never mind what you've heard about global warming as a
      slow-motion emergency that would take decades to play
      out. Suddenly and unexpectedly, the crisis is upon us."
    </em>
    - <a href="http://www.time.com/time/archive/preview/0,10987,1176980,00.html">Time Magazine</a>
  </p>
  <p>
    <em>
      "Why doesn't every college make it a goal to become
      carbon-neutral - that is, reduce its net CO2 emissions to
      zero? This should be a national movement. After all, today's
      students will be profoundly affected by climate change, the
      coming energy wars and the rising danger of
      petro-authoritarian states, such as Iran."
    </em>
    - <a href="http://select.nytimes.com/2006/04/21/opinion/21friedman.html">
      New York Times</a>
  </p>
  <p>
    In light of the growing popular concern about global warming,
    and the critical need for campuses to take responsibility for
    their contributions to global warming, AASHE is pleased to make
    available this resource highlighting campuses that have made
    commitments to reducing their greenhouse gas emissions.
  </p>
  <p>
    This resource lists campus global warming commitments with
    specific reduction goals and target dates for achieving
    them. Campuses that may have committed to climate neutrality by
    signing the <a href="http://www.presidentsclimatecommitment.org/">
    American College &amp; University Presidents' Climate Commitment</a>,
    but have not yet adopted target dates, are not listed here.
  </p>
  <p>
    Campus commitments are listed to the extent possible in order of
    relative strength, with the strongest commitments listed first.
  </p>

  <p>
    <div id="resource_list" class="content clear-block">
      <p>
        <table>
          <tbody>
            <tr>
              <th>Institution</th>
              <th>Commitment</th>
              <th>Date of Commitment</th>
            </tr>
            {% regroup object_list by organization.name as org_list %}
            {% for org in org_list %}
              <tr>
                <td>{{ org.grouper }}</td>
                <td>
                  {% for resource in org.list %}
                    <a href="{{ resource.url }}">
                      {{ resource.commitment }}
                    </a><br/>
                    {% comment %}
                      We list every commitment in one cell, but only
                      one date -- the most recent date of an institution's
                      commitments (assuming these resources are ordered
                      by ascending date).  Why?  'Cause it's easier than
                      tracking the dates of multiple resources, and only
                      printing the unique values in that list.
                    {% endcomment %}
                    {% if forloop.last %}
                      </td>
                      <td>
                        {{ resource.date|date:"F Y" }}
                      </td>
                    {% endif %}
                  {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </p>
    </div>
  </p>

{% endblock body %}
