{% extends "resourceitem_list.html" %}

{% block title %}
  Campus Water Conservation Efforts
{% endblock title %}  

{% block body %}

  <div id="opening_text">

    This resource lists institutions that have ongoing water
    conservation initiatives or programs.


  </div>

  <div id="resource_list">
    <p>
      {% regroup object_list by organization.country as country_list %}

     {% for country in country_list %}
       <h3>{{ country.grouper }}</h3>
       <table>
         <tbody>
           {% for resource in country.list %}
             <tr>
               <td>{{ resource.organization.name }}</td>
               <td><a href="{{ resource.url }}">{{ resource.title }}</a>
                   {{ resource.notes }}
               </td>
             </tr>
           {% endfor %}
         </tbody>
       </table>
     {% endfor %}
    </p>
  </div>

{% endblock body %}

