{% extends "resourceitem_list.html" %}

{% block title %}
  Campus Water Conservation Efforts
{% endblock title %}

{% block body %}

  <p>

    This resource lists institutions that have ongoing water
    conservation initiatives or programs.

  </p>

  <div id="resource_list">
    <p>
      {% regroup object_list by organization.country as country_list %}

     {% for country in country_list %}
       <h3>{{ country.grouper }}</h3>
       <table>
         <tbody>
           {% include "table_rows.html" with resources=country.list %}
         </tbody>
       </table>
     {% endfor %}
    </p>
  </div>

{% endblock body %}
