{% extends "resourceitem_list.html" %}

{% block title %}
  Campus Composting Programs
{% endblock title %}

{% block body %}

  <div id="opening_text">

    This resource lists campus composting programs.

  </div>

  <p>
    <div id="resource_list" class="content clear-block">
      <p>
        <table>
          <tbody>
            <tr>
              <th>Institution</th>
              <th>Program</th>
            </tr>
            {% include "table_rows.html" with resources=object_list %}
          </tbody>
        </table>
      </p>
    </div>
  </p>

{% endblock body %}
