{% extends "resourceitem_list.html" %}

{% block title %}
  Student Peer-to-Peer Sustainability Education Programs
{% endblock title %}

{% block body %}

  <span class="image-right">
    <img src="http://www.aashe.org/files/eco_reps.jpg" alt="Bethany College"/>
  </span>

  <p>
    The following directory includes student peer-to-peer
    sustainability outreach programs (often known as
    Eco-Reps). Generally, these programs work in the residential
    areas of campus and are sponsored by a campus department (such
    as Recycling, Residential Life, or the campus sustainability
    office).
  </p>
  <p>
    Another resource is
    the <a href="http://www.nwf.org/~/media/PDFs/Campus-Ecology/Reports/Student%20Sustainability%20Educators%20Guide%20FINAL%2032712.ashx">Student
    Sustainability Educators: A Guide to Creating and Maintaining an
    Eco-Rep Program on Campus</a> publication.
  </p>

  {% if image_caption %}
    <span class="image-right">

    </span>
  {% endif %}


  <div id="resource_list">

    <p>
      <table>
        <tbody>
          <tr>
            <th>Institution</th>
            <th>Program</th>
          </tr>
          {% include "table_rows.html" with resources=object_list %}
        </tbody>
      </table>
    </p>
  </div>

{% endblock body %}
