{% extends "resourceitem_list.html" %}

{% block title %}
  {{ page_title|title }}
{% endblock title %}

{% block body %}

  <div id="opening_text">
  </div>

  <p>
    <div id="resource_list" class="content clear-block">
      <p>
        {% for resource in object_list %}
          <p>
            <strong>{{ resource.organization.name }}</strong> -
            <a href="{{ resource.url }}">{{ resource.title }}</a>
            {% if resource.notes %}
              {{ resource.notes }}
            {% endif %}
            <br/>
            {{ resource.description }}
          </p>
        {% endfor %}
      </p>
    </div>
  </p>

{% endblock body %}

