{% extends "resourceitem_list.html" %}

{% block body %}

  <div id="opening_text">

    This resource is a collection of campus farms and campus supported
    agriculture programs that are sources of sustainable food for the
    campus community. While produce from campus community gardens is
    usually reserved for use by plot-owners, CSA farms and programs
    supply locally grown food to campus eateries and members of the
    campus community.

  </div>

  <div id="resource_list">
	<p>
	  {% regroup object_list by organization.country as country_list %}

	  {% for country in country_list %}
		<h3>{{ country.grouper }}</h3>
		<table>
		  <tbody>
			<tr>
			  <th>University</th>
			  <th>Resource</th>
			</tr>
			{% for resource in country.list %}
			  <tr>
				<td>{{ resource.organization.name }}</td>
				<td><a href="{{ resourcen.url }}">{{ resource.title }}</a>
				{{ resource.notes }}
				</td>
			  </tr>
			{% endfor %}
		  </tbody>
		</table>
	  {% endfor %}
	</p>
  </div>

  <div id="closing_text">
    <em>Please email <a href="mailto:resources@aashe.org">
    resources@aashe.org</a> with any suggestions, additions or
    updates.</em>
  </div>

{% endblock body %}

