{% extends "resourceitem_list.html" %}

{% block body %}

  <div id="opening_text">
  </div>

  <p>
	<div id="resource_list" class="content clear-block">

	  {% regroup object_list by organization.country as country_list %}

	  {% for country in country_list %}
		<h3>{{ country.grouper }}</h3>
          <p>
            {% for guide in country.list %}
	    	  {{ guide.organization.name }} - 
              <a href="{{ guide.url }}">{{ guide.title }}</a>
              <br/>
		    {% endfor %}
          </p>
	  {% endfor %}

	</div>
  </p>

  <div id="closing_text">
    <em>Please email <a href="mailto:resources@aashe.org">
    resources@aashe.org</a> with any suggestions, additions or
    updates.</em>
  </div>

{% endblock body %}

