{% extends "resourceitem_list.html" %}

{% block body %}

  <p>

    The following list highlights institutions that have identified
    their sustainability research activities. Conducting an inventory
    of an institution’s sustainability research can serve as a
    valuable first step in identifying strengths and areas for
    development. Likewise, since sustainability requires collaboration
    that transcends traditional disciplines, conducting an inventory
    can help connect individuals, laboratories, research centers, and
    other campus community members with a shared interest in
    sustainability.

  </p>

  <div id="resource_list" class="content clear-block">
    <p>
      <table>
        <tbody>
          <tr>
            <th>Institution</th>
            <th>Research Inventory</th>
          </tr>
          {% include "table_rows.html" with resources=object_list %}
        </tbody>
      </table>
    </p>
  </div>

{% endblock body %}
