{% extends "resourceitem_list.html" %}

{% block title %}
  Surveys of Sustainability Awareness, Attitudes, and Values
{% endblock title %}

{% block body %}

  <p>

    This resource contains campus surveys and assessments of
    sustainability awareness, attitudes, values, and
    literacy. Generally these surveys are of students, but they may
    also include staff and faculty.

  </p>

  <p>
    <div id="resource_list" class="content clear-block">
      <p>
        <table>
          <tbody>
            <tr>
              <th>Institution</th>
              <th>Survey</th>
            </tr>
            {% include "table_rows.html" with resources=object_list %}
          </tbody>
        </table>
      </p>
    </div>
  </p>

{% endblock body %}
