{% extends "resourceitem_list.html" %}

{% block body %}

  <div id="opening_text">

    This resources contains databases and lists of
    sustainability-related syllabi maintained by different
    organizations.

  </div>

  <p>
    <div id="resource_list" class="content clear-block">
      <p>
        {% for syllabus in object_list %}
          <p>
            {% if syllabus.organization %}
              <em>{{ syllabus.organization.name }}</em>
            {% else %}
              Not matched to any institution.
              {% if syllabus.notes %}
                <em>{{ syllabus.notes }}</em>
              {% endif %}
            {% endif %}
            <br/>
            <a href="{{ syllabus.url }}">
              <strong>{{ syllabus.title }}</strong>
            </a>
            <br/>
            {{ syllabus.description }}
          </p>
        {% endfor %}
      </p>
    </div>
  </p>

{% endblock body %}
