{% extends "resourceitem_list.html" %}

{% block body %}

  <div id="opening_text">

    The following list highlights institutions that have identified
    their sustainability course offerings. Conducting an inventory of
    courses provides a valuable foundation for advancing
    sustainability curriculum. It offers a sense of where the
    institution is now and can help identify strengths and
    opportunities for growth. In addition, a list helps current and
    prospective students find and understand sustainability course
    offerings, which can help them organize their academic studies.

  </div>

  <p>
    <div id="resource_list" class="content clear-block">
      <p>
        <table>
          <tbody>
            <tr>
              <th>Institution</th>
              <th>Course Inventory</th>
            </tr>
            {% for inventory in object_list %}
			  <tr>
                <td>{{ inventory.organization.name }}</td>
                <td><a href="{{ inventory.url }}">{{ inventory.title }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </p>
    </div>
  </p>

{% endblock body %}

