{% extends "resourceitem_list.html" %}

{% block body %}

  <p>
    <div id="resource_list" class="content clear-block">
      <p>
        {% regroup object_list by organization.country as country_list %}

        {% for country in country_list %}
          <h3>{{ country.grouper }}</h3>
            <p>
              {% for guide in country.list %}
                {{ guide.organization.name }} -
                <a href="{{ guide.url }}">{{ guide.title }}</a>
                <br/>
              {% endfor %}
            </p>
        {% endfor %}
      </p>
    </div>
  </p>

{% endblock body %}
