{% extends "resourceitem_list.html" %}

{% block title %}
  Academic Centers on Sustainability & Business
{% endblock title %}  

{% block body %}

  <div id="opening_text">
  </div>


  <div id="resource_list" class="content clear-block">
    <p>
      <table>
        <tbody>
          <th>Institution</th>
          <th>Academic Center</th>
          {% for center in object_list %}
			  <tr>
              <td>{{ center.organization.name }}</td>
              <td><a href="{{ center.url }}">{{ center.title }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
  </div>

{% endblock body %}

