{% extends "aashe/base_resources.html" %}
{% load markup tree_menu_tags %}

{% block title %}AASHE Resource Center{% endblock %}
{% block page-title %}<h1>AASHE Resource Center</h1>{% endblock %}

{% block content %}
<p>The online Resource Center is a comprehensive source of information on sustainability in higher education. It provides administrators, faculty, operations staff, students, and other campus stakeholders with the tools, information and guidance they need to lead the sustainability transformation. Member dues are the chief source of funding for developing and maintaining these resources.</p>

<h2>Browse Resources</h2>

{% show_menu "AASHE Resource Center" "index" %}  

{% endblock %}

{% block right %}

{% show_menu "AASHE Resource Center" "sidebar" %}  

<div class="block block-views " id="block-views-issues-block_5">
  <h2 class="block-title">AASHE Bulletin</h2>
  <div class="block-content content"><div class="view view-issues issues-homepage-block view-dom-id-1">
      <div class="header">
        <p>For the latest campus sustainability news, resources, opportunities, and events from the U.S. and Canada: <a href="http://www.aashe.org/connect/enewsletters/bulletin" rel="nofollow">Subscribe to the AASHE Bulletin</a></p>
      </div>
      <div class="row-1 odd first last">
        <div class="field-bulletin-archive-url">
          <a href="http://www2.aashe.org/archives/2011/0307.php ">View the latest issue!</a>  </div>
      </div>
    </div>
  </div>
</div>

{% endblock right %}
