{% extends "aashe/base_resources.html" %}
{% load markup tree_menu_tags %}

{% block title %}AASHE Resource Center{% endblock %}

{% block page-title %}<h1>AASHE Resource Center</h1>{% endblock %}

{% block content %}

<p>The online Resource Center is a comprehensive source of information on sustainability in higher education. It provides administrators, faculty, operations staff, students, and other campus stakeholders with the tools, information and guidance they need to lead the sustainability transformation. Member dues are the chief source of funding for developing and maintaining these resources.</p>

<h2>Browse Resources</h2>

{% show_menu "AASHE Resource Center" "index" %}  

{% endblock %}
