{% extends "aashe/base_resources.html" %}
{% load markup %}
{% load markup tree_menu_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumb %}

<ul>
{% show_menu "AASHE Resource Center" "breadcrumb" %}
</ul>

{% endblock breadcrumb %}

{% block content %}

{% block page-title %}<h1 class="page-title">{{ object.title }}</h1>{% endblock %}

{% if request.user.is_staff %}
      <div id="admin-controls" style="background-color: #ddd;">
        <p style="padding: 2px;">Admin controls: <a href="  {% url admin:cms_page_changelist %}{{ object.id }}">Edit in Admin</a></p>
      </div>
{% endif %}

{{ page.content|markdown|linebreaks }}

{% show_menu "AASHE Resource Center" "resource-menu" %}

<div id="content-footer">
  <div class="block block-block " id="block-block-43">
    <div class="block-content content">
      <p>
    <em>Please email <a href="mailto:resources@aashe.org">
            resources@aashe.org</a> with any suggestions, additions or
        updates.
    </em>
  </p>
    </div>
  </div>
</div><!-- #content-footer -->

{% endblock content %}

{% block right %}

{% show_menu "AASHE Resource Center" "sidebar" %}  

<div class="block block-views " id="block-views-issues-block_5">
  <h2 class="block-title">AASHE Bulletin</h2>
  <div class="block-content content"><div class="view view-issues issues-homepage-block view-dom-id-1">
      <div class="header">
        <p>For the latest campus sustainability news, resources, opportunities, and events from the U.S. and Canada: <a href="http://www.aashe.org/connect/enewsletters/bulletin" rel="nofollow">Subscribe to the AASHE Bulletin</a></p>
      </div>
      <div class="row-1 odd first last">
        <div class="field-bulletin-archive-url">
          <a href="http://www2.aashe.org/archives/2011/0307.php ">View the latest issue!</a>  </div>
      </div>
    </div>
  </div>
</div>

{% endblock right %}
