
/* Globals */
body {
    text-align: left;
}

/* Divs & Layout */
.right-nav-menu {
    margin-top: 2em;
    min-height: 300px;
}

#about-revolving-loans {
    margin-top: 1em;
    padding-top: 0.5em;
}

#admin-controls { 
    margin-top: 5px;
}

#content-footer {
    border-top: 1px solid #ddd;
    margin-top: 2em;
}

/* Lists */
ul.browse-menu li ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}

/* Tables */
table.funds {
    width: 100%;
}

/* forms */
form.home-search button[type="submit"] {
    vertical-align: top;
}